version: '3'
services:
  fastapi-app:
    build: .
    ports:
      - "17000:17000"
    command: uvicorn app.main:app --workers 1 --host 0.0.0.0 --port 17000
    mem_limit: 4g
    restart: always
  update_db:
    build: .
    command: sh -c "python3 src/app/updatedb.py && sleep 86400"
